# Print the String

In [1]:
print("Hello")

Hello

In [1]:
print("Hello World")

Hello World

In [2]:
print("Hello Tushar")

Hello Tushar

In [3]:
print("Hello 'Tushar'")

Hello 'Tushar'

In [8]:
print(' "hello" tushar')

 "hello" tushar

In [9]:
print(' hello "tushar"')

 hello "tushar"

In [10]:
print(" 'hello' tushar")

 'hello' tushar

In [2]:
print("/n")

/n

In [11]:
print("/n")

/n

# We can not print the \n directly because \n gives the new line. If we want to print the \n so we can give the input first and then print the \n .

In [14]:
print('\n')

In [1]:
print("Hello")

Hello

In [3]:
print("Hello Tushar")

Hello Tushar

In [4]:
print("'Hello' Tushar")

'Hello' Tushar

In [5]:
print('"Hello Tushar"')

"Hello Tushar"

In [6]:
print('Hello "Tushar"')

Hello "Tushar"

In [7]:
print("/n")

/n

In [1]:
print("The beautiful thing of the world is itself world")

The beautiful thing of the world is itself world

In [11]:
a=10
print(a)

10

In [3]:
a=10
print(int)

<class 'int'>

# I can check the type of data.

In [1]:
x=True
y=False
a=4
b=4.4
c='Tushar'
d=(1,2,3,4)
e=[1,2,3,4,'A','B']
f={a:'A',b:"B"}
g={1,2,3,4}
print(type(a),a)
print(type(b),b)
print(type(c),c)
print(type(d),d)
print(type(e),e)
print(type(f),f)
print(type(g),g)
print(type(x),x)
print(type(y),y)

<class 'int'> 4
<class 'float'> 4.4
<class 'str'> Tushar
<class 'tuple'> (1, 2, 3, 4)
<class 'list'> [1, 2, 3, 4, 'A', 'B']
<class 'dict'> {4: 'A', 4.4: 'B'}
<class 'set'> {1, 2, 3, 4}
<class 'bool'> True
<class 'bool'> False

# Now i convert the recent datatyoe in another datatype .

In [6]:
a=4
b=4.4
c='8'
d='8.8'
print(a)
print(float(a))
print(b)
print(int(b))
print(c)
print(int(c))
print(float(c))
print(int(float(c)))
print(d)
print(float(d))
print(int(float(d)))

4
4.0
4.4
4
8
8
8.0
8
8.8
8.8
8

In [5]:
a=4.4
print(float)

<class 'float'>

In [7]:
a=4
print('The data type of',a,'is',type(a))

The data type of 4 is <class 'int'>

In [9]:
a=10.8
print(type(a))

<class 'float'>

In [3]:
a="4.4"
print(int(float(a)))

4

In [10]:
a='A'
print("The data type of ",a,'is',type(a))

The data type of  A is <class 'str'>

In [12]:
a='abcdef'
print('The data type of ',a,'is',type(a))

The data type of  abcdef is <class 'str'>

In [13]:
a=3.15
a=int(a)
print(a,type(a))

3 <class 'int'>

In [15]:
a=4.0
a=str(a)
print(a,type(a))

4.0 <class 'str'>

In [16]:
a='7'
a=int(a)
print(a,type(a))

7 <class 'int'>

In [18]:
a='88'
a=float(a)
print(a,type(a))

88.0 <class 'float'>

In [20]:
a='3.15'
a=float(a)
a=int(a)
print(a,type(a))

3 <class 'int'>

In [22]:
z="3.15"
print(int(float(z)))

3

# Now i am taking the input from the user .

In [4]:
a=input("Enter Anything=")
print(a)

Enter Anything=\n
\n

In [26]:
a=input("Enter Any No.=")
print(a)

Enter Any No.=\n
\n

In [32]:
name=input('Enter Your Name=')
age=int(input('Enter Your Age='))
height=float(input('Enter Your Height='))
print('Your name is',(name))
print('Your Age is',(age))
print('Your Height is',height)

Enter Your Name=deep
Enter Your Age=345
Enter Your Height=8.6
Your name is deep
Your Age is 345
Your Height is 8.6

In [34]:
print(type(age))

<class 'int'>

In [2]:
a=44
print(type(a))

<class 'int'>

In [3]:
a=4.4
print(type(a))

<class 'float'>

In [4]:
a='1234'
print(type(a))

<class 'str'>

In [5]:
a='ABCD'
print(a)
print(type(a))

ABCD
<class 'str'>

In [15]:
a=4.4
print("The datatype of ",a," is",type(a))
a=int(a)
print("The datatype of ",a," is",type(a))

The datatype of  4.4  is <class 'float'>
The datatype of  4  is <class 'int'>

In [16]:
a='A'
print("The datatype of ",a," is",type(a))

The datatype of  A  is <class 'str'>

In [17]:
a='Tushar'
print(a)
print("The datatype of ",a," is",type(a))

Tushar
The datatype of  Tushar  is <class 'str'>

In [19]:
a='1234'
print("The datatype of ",a," is",type(a))
a=int(a)
print("The datatype of ",a," is",type(a))

The datatype of  1234  is <class 'str'>
The datatype of  1234  is <class 'int'>

In [22]:
a='4.4'
a=float(a)
a=int(a)
print("The datatype of ",a," is",type(a))

The datatype of  4  is <class 'int'>

In [24]:
a='4.4'
print(int(float(a)))

4

In [27]:
a='10.4'
print("The Value of a is",int(float(a)))
print("The datatype of ",a," is",type(a))

The Value of a is 10
The datatype of  10.4  is <class 'str'>

In [34]:
a=input("Enter any no.=")
print('Your no. is ',a)

Enter any no.=44
Your no. is  44

In [1]:
name=input('Enter Your Name= ')
age=int(input('Enter Your Age= '))
salary=float(input('Enter Your Salary= '))
profession=input('Enter Your Profession= ')
print("\nYour name is ",name)
print("Your Age is ",age)
print("Your Salary is ",salary)
print("Your Profession is ",profession)

Enter Your Name= Karan
Enter Your Age= 20
Enter Your Salary= 5000000
Enter Your Profession= Data Scientist

Your name is  Karan
Your Age is  20
Your Salary is  5000000.0
Your Profession is  Data Scientist

In [39]:
a=input("Enter any no.=")
print('Your no. is ',a)

Enter any no.=4
Your no. is  4

In [38]:
a=input("Enter any no.=")
print('Your no. is ',a)

Enter any no.=2
Your no. is  2

In [33]:
str=1
print(type(str))

<class 'int'>

In [7]:
a=input("Enter String=")
print(a)

Enter String=\n
\n

# This type of keywords we can use in the data .

In [21]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [17]:
true=1234
print(true)

1234

In [41]:
from math import sqrt
a=25
print(sqrt(a))

5.0

In [15]:
from math import factorial
a=int(input("Enter No.="))
print(factorial(a))

Enter No.=4
24

In [43]:
a=10
for i in range(1,a+1):
    if a%i==0:
        print(i)

1
2
5
10

In [25]:
a='False'
print(type(a),a)

<class 'str'> False

In [3]:
a=False
print(type(a))

<class 'bool'>

In [19]:
a=4
print(id(a))

2047937702288

In [2]:
a=4
print(id(a))

2536447568272